$tipografia-principal: 'Raleway', sans-serif;
$background-navBar: #A2B38B;
$background-cards: #EFEBE0;
$background-cards-secundario: #fff;
$background-fondo: #E4E9BE ;
$background-gradient: linear-gradient(to bottom , #A2B38B , #7FA682 , #57997E ); 
$background-fondo-frase: #E5D9B6 ;
$color-1: #fff ;
$color-2: #a2b38b;
$color-3: #285430 ;
